<section class="fade-in-cont">

    <img src="../../../../public/app/resources/images/desktop/pantheon-imaginary.jpg" alt="" class="about-bround" />

    <img class="nav-bar-img" ng-click="$ctrl.goLanding();"
        src="../../../../public/app/resources/images/logo-red-tan.png">
    <section class="nav-bar nav-bar-about">
        <section ng-click="$ctrl.goGallery();" class="nav-link">
            <p>Gallery</p>
        </section>
        <section ng-click="$ctrl.goAbout();" class="nav-link">
            <p>About Me</p>
        </section>
    </section>

    <section class="bio">

        <section class="profile">

            <a href="https://github.com/JonahNye" target="_blank"><img
                            src="../../../../public/app/resources/images/github-icon.png"></a>
            <img src="../../../../public/app/resources/images/headshot-silhouette.jpg">
            <a href="https://www.linkedin.com/in/jonahnye/" target="_blank"><img
                            src="../../../../public/app/resources/images/LinkedIn-Icon-1.png"></a>
        </section>

        <section class="blurb">
            <p>I'm a geek's geek. I like old historical stuff. I like new stuff like computers and video games. It makes
                sense if you don't think about it too much.</p>

            <p>I've been coding since October 2018.</p>

            <p>I have the most fun programming using Angular, but I'm interested in roles where I'd be expected to learn
                React.</p>

            <p>I can use photoshop to: clean up images, swap colors, and utilize layers and vector masks to transform
                boring images.</p>
        </section>

    </section>

</section>