<section class="fade-in-cont">

    <img src="../../../app/resources/images/desktop/pantheon-imaginary.jpg" alt="" class="about-bround" />

    <img class="nav-bar-img" ng-click="$ctrl.goLanding();"
        src="../../../app/resources/images/logo-red-tan.png">
    <section class="nav-bar nav-bar-about">
        <section ng-click="$ctrl.goGallery();" class="nav-link">
            <p>Gallery</p>
        </section>
        <section ng-click="$ctrl.goAbout();" class="nav-link">
            <p>About Me</p>
        </section>
    </section>

    <section class="bio">

        <h2>Check me out!</h2>

        <section class="profile">

                <a class="icon" href="https://github.com/JonahNye" target="_blank"><img
                            src="../../../app/resources/images/github-icon.png"></a>


                <a class="icon" href="https://www.linkedin.com/in/jonahnye/" target="_blank"><img
                            src="../../../app/resources/images/LinkedIn-Icon-1.png"></a>
            
        </section>

        <section class="blurb">
            <p>I'm a geek's geek. I like old historical stuff. I like new stuff like computers and video games. It makes
                sense if you don't think about it too much.</p>

            <p>Rome is my favorite place in the world. Partially because I really love spaghetti, but mostly because <a href="https://en.wikipedia.org/wiki/Pantheon,_Rome" target="_blank">the Pantheon</a> is the coolest building ever created.</p>

            <p>I like to keep my CSS clean and lean.</p>

            <p>When it comes to JavaScript, I have the most fun using Angular but I'm interested in roles where I'd be expected to learn
                React.</p>

            <p>I can use photoshop to: clean up images, swap colors, and utilize layers and vector masks to transform
                boring images.</p>
        </section>

    </section>

</section>