<section class="fade-in-cont">
    <img class="nav-bar-img" ng-click="$ctrl.goLanding();" src="../../../../public/app/resources/images/logo-red-tan.png">
    <section class="nav-bar">
        <section ng-click="$ctrl.goGallery();" class="nav-link">
            <p>Gallery</p>
        </section>
        <section ng-click="$ctrl.goAbout();" class="nav-link">
            <p>About Me</p>
        </section>
    </section>

    <section class="link-logo-cont">

        <a href="https://github.com/JonahNye" target="_blank"><img src="../../../../public/app/resources/images/github-icon.png"></a>

        <a href="https://www.linkedin.com/in/jonahnye/" target="_blank"><img src="../../../../public/app/resources/images/LinkedIn-Icon-1.png"></a>

    </section>

</section>