<section class="fade-in-cont">
    <img class="nav-bar-img-hops" ng-click="$ctrl.goLanding();" src="../../../app/resources/images/logo-hops.png">
    <section class="nav-bar nav-bar-hops">
        <section ng-click="$ctrl.goGallery();" class="nav-link">
            <p>Gallery</p>
        </section>
        <section ng-click="$ctrl.goAbout();" class="nav-link">
            <p>About Me</p>
        </section>
    </section>

    <section class="load-wrapper">

        <section class="loader" id="hops-loader">

        </section>

    </section>

    <iframe class="iframe-hops" src="http://hops-academy.herokuapp.com/#!/" frameborder="0"></iframe>

</section>